<!doctype html>
<html>
<head>
<title>Coding Test</title> </head>
<link href='./css/min.css' rel='stylesheet'>
<body>
    <div class='navbar navbar-default navbar-top'>
        <div class='container-fluid'>
            {{#if username}}
                <span class='navbar-text navbar-right'>Welcome {{name.given_name}}</span>
            {{else}}
                <a type='button' class='btn btn-default navbar-btn navbar-right' href='/auth/wsd'>Sign in</a>
            {{/if}}
        </div>
    </div>
    <div id='content'>
    {{{body}}}
    </div>
    <footer>
        <div class='row'>
            <div class='col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-5'>
            <ul class='nav navbar-nav'>
                <li>
                    <a href='#'>About</a>
                </li>
                <li>
                    <a href='#'>Contact</a>
                </li>
                <li>
                    <a href='#'>Home</a>
                </li>
            </ul>
            </div>
            </div>
    </footer>
    <script src='js/min.js' type='text/javascript'></script>
</body>
</html>