<div class='panel panel-default'>
    <div class='panel-body'>
        <div id='profile'>
            <div class='row'>
                <div class='col-md-4 col-sm-4'>
                <h1>{{display_name}}</h1>
                <div class='form-group'>
                    <label>
                        Organization
                    </label>
                    <div>
                        {{organisation_name}}
                    </div>
                </div>
                {{#each emails}}
                    {{#equal type 'default'}}
                        <div class='form-group'>
                            <label>
                                <span class='glyphicon glyphicon-envelope'></span>Email
                            </label>
                            <div>
                                {{value}}
                            </div>
                        </div>
                    {{/equal}}
                {{/each}}
                </div>
                <div class='col-md-8 col-sm-8'>
                    <h2>Pictures</h2>
                    {{#each photos}}
                        <img data-img={{this}} class='img-thumbnail' alt='Responsive image'>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>