html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
footer > .row {
    margin-right:0px;
    margin-left:0px;
}
.navbar-top {
    border-radius:0px;
    padding-right: 15px;
}
#content {
    padding:20px;
    color: #000;
}
.img-thumbnail {
    margin-right:5px;
    margin-bottom:10px;
    max-width:200px;
    max-height:200px;
}

div.img-thumbnail {
    width: 200px;
    word-break: break-all;
}

@media (max-width: 767px) {
    .img-thumbnail {
        max-width: 300px;
        max-height: 300px;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    div.img-thumbnail {
        width: 300px;
    }
    body {
        margin-bottom: 150px;
    }
    footer {
        height: 150px;
    }
}
